{% extends "base-site.html" %}

{% block title %} Details {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="dashboard-container">
    <div class="card card-nav-tabs text-center" >

      <!-- Card title -->
      <h3 class="card-header card-header-primary">
        {{ option.page.title }}
        <span>
          <!-- Bookmark -->
          {% if current_user.is_authenticated %}
            <i class="material-icons" id="bookmark">star_rate</i>
          {% endif %}
          </span>
      </h3>
      <div class="card-body">
        <!-- Description -->
        <p class="card-text">{{ option.page.description }}</p>
        <!-- Chart -->
        <div id="chart" class="svg-container details"></div>
      </div>

    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
      $(document).ready(function () {
          // initialize in different place / factory
          Common.prototype.init();

          let varOption = {{ option | safe }};
          console.log(varOption);

          varOption.bind.forEach(d => {
            console.log('template.html: ', d,  d['endpoint']);

            let dataUrl = d['endpoint'];
            console.log(d['function'], dataUrl);

            fetch(dataUrl)
              .then((resp) => resp.json())
              .then(data => {

                  let args = {
                      chartElement: 'chart',
                      bookmarkElement: 'bookmark',
                      data: data,
                      token: '{{ session.token }}',
                      username: '{{ current_user.username }}'
                  };

                  console.log(d['function'], data);

                  new VisFunctionFactory(d['function'], args)
              });

          });


      });

      // debug logs
      console.log('option = ', '{{ option }}');
      $('#bookmark').on('click', () => {
          console.log('onClickBookmark: ', "{{ session.token }} {{ current_user.username }}")
      })  ;

  </script>

{% endblock javascripts %}
