{% extends "base-site.html" %}

{% block title %} Analytics {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="dashboard-container">

    <div class="card">
      <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon"><i class="material-icons">blur_on</i></div>
        <h4 class="card-title ">Analytics</h4>
      </div>

      <div class="card-body">

        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
            <th> Title</th>
            <th> Description</th>
            <th> Link</th>
            </thead>

            {% for d in table %}
              <tr>
                <td>{{ d.title }}</td>
                <td>{{ d.description }}</td>
                <td><a href="/{{ d.name }}"> <i class="material-icons">link</i> </a></td>
              </tr>
            {% endfor %}

          </table>
        </div>

      </div>

    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
      $(document).ready(function () {
          let table = {{ table  | safe }};
          console.log('template_table.html: table = ', table);
      });

  </script>

{% endblock javascripts %}
