
<!--
  This template is for v1.0 and above
  Template for displaying list of pages
-->
{% extends "base-site.html" %}

{% block title %} Details {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="dashboard-container">

    <div class="card">
      <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon"><i class="material-icons">table_view</i></div>
        <h4 class="card-title ">Pages - {{publishType}}</h4>
      </div>

      <div class="card-body">

        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
            <th>Index</th>    
            <th>Vis.</th>
            <th>Title (Vis) </th>
            <th>Description (Data) </th>
            <th>Date</th>
            <th>Release Status</th>
            <th>Link </th>
            </thead>

            {% for i, d in enumerate(table) %}
              <tr>
                <td>{{ i + 1 }}</td>
                <td>{{ d.bindingExts[0].vis.function }}</td>
                <td>{{ d.bindingExts[0].vis.description }}</td>
                <td>{{ d.bindingExts[0].data[0].description   }}</td>
                <td>{{ d.date  }}</td>
                <td>{{ d.bindingType  }}</td>
                <td><a href="/{{ d.id }}"> <i class="material-icons">link</i>  </a></td>
              </tr>
            {% endfor %}

          </table>
        </div>

      </div>

    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script language="JavaScript" type="text/javascript">
      $(document).ready(function () {
          let table = {{ table  | safe }};
          console.log('template_table.html: table = ', table);
      });
  </script>
{% endblock javascripts %}
