{% extends "base-site.html" %}

{% block title %} Portal {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="dashboard-container">

    <div class="card">
      <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon"><i class="material-icons">bookmarks</i></div>
        <h4 class="card-title "> Bookmarks </h4>
      </div>

      <div class="card-body">

        <div class="table-responsive">
          <table class="table">
            {% for d in option %}
              <tr>
                <td>{{ d.page.id }}</td>
                <td>{{ d.page.title }}</td>
                <td> <a href="/{{ d.page.name }}"> <i class="material-icons">link</i>  </a></td>
              </tr>
            {% endfor %}

          </table>
        </div>


      </div>

    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>

    let _option = {{ option | safe }};
    let numBookmarks = _option.length;

    $(document).ready(function() {

      console.log('portal: _option: ', _option);

    });

  </script>

{% endblock javascripts %}
