{% extends "base-site.html" %}

{% block title %} Portal {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="dashboard-container">

    <div class="card">
      <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon"><i class="material-icons">bookmarks</i></div>
        <h4 class="card-title "> Bookmarks </h4>
      </div>

      <div class="card-body">

        <div class="table-responsive">
          <table class="table">
            {% for d in option %}
              <tr>
                <td>
{#                  {% if current_user.is_authenticated %}#}
{#                    <i class="material-icons" id="bookmark">bookmark</i>#}
{#                  {% endif %}#}
                </td>
                <td>{{ d.page.title }}</td>
                <td><a href="/{{ d.page.name }}"> <i class="material-icons">link</i> </a></td>
              </tr>
            {% endfor %}

          </table>
        </div>

      </div>

    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>

      let _option = {{ option | tojson }};
      let token = '{{ session.token | safe }}';
      let userName = '{{ current_user.username | safe }}';
      let isAuthorised = {{ current_user.is_authenticated | tojson }};
      let isBookmarked = false;
      let DATA_API = {{ config['DATA_API'] | tojson }};

      //
      // Bookmark or remove bookmark
      //
      $(document).ready(function () {
          if (!isAuthorised) {
              return;
          }


      });

  </script>

{% endblock javascripts %}
