{% extends "base-site.html" %}

{% block title %} Settings {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="dashboard-container">

        <div class="card">
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon"><i class="material-icons">schedule</i></div>
                <h4 class="card-title ">Schedulers</h4>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th> Type</th>
                        <th> Status</th>
                        <th> Action</th>
                        </thead>
                        <tr>
                            <td> <p> Data Stream </p> </td>
                            <td>
                                <p class="text-left text-dark" id="scheduler-status"></p>
                            </td>
                            <td>
                                <button type="button" class="btn btn-light btn-fab btn-fab-mini btn-round" id="status">
                                    <i class="material-icons">visibility</i>
                                </button>
                                <button type="button" class="btn btn-success btn-fab btn-fab-mini btn-round" id="start">
                                    <i class="material-icons">play_arrow</i>
                                </button>
                                <button type="button" class="btn btn-danger btn-fab btn-fab-mini btn-round" id="stop">
                                    <i class="material-icons">stop</i>
                                </button>
                            </td>
                        </tr>

                        <tr>
                            <td> <p> Process Data </p> </td>
                            <td>
                                <p class="text-left text-dark" id="pd-scheduler-status"></p>
                            </td>
                            <td>
                                <button type="button" class="btn btn-light btn-fab btn-fab-mini btn-round" id="pd-status">
                                    <i class="material-icons">visibility</i>
                                </button>
                                <button type="button" class="btn btn-success btn-fab btn-fab-mini btn-round" id="pd-start">
                                    <i class="material-icons">play_arrow</i>
                                </button>
                                <button type="button" class="btn btn-danger btn-fab btn-fab-mini btn-round" id="pd-stop">
                                    <i class="material-icons">stop</i>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script>
        $(document).ready(() => {
            let isAuthorised = {{ current_user.is_authenticated | tojson }};
            let token = '{{ session.token | safe }}';
            let STAT_API = {{ config['STAT_API'] | tojson }};

            console.log(isAuthorised, token, STAT_API);

            function streamData(action) {
                Service.streamData(STAT_API, token, action)
                    .then(data => {
                        console.log('onClick: status: data = ', data);
                        $("#scheduler-status").text(() => {
                            return data.message;
                        });
                    });
            }

            // check status when page is loaded
            streamData('status');

            $("#status").on('click', () => {
                streamData('status');
            });

            $("#start").on('click', () => {
                streamData('start')
            });
            $("#stop").on('click', () => {
                streamData('stop')
            });

            if (isAuthorised) {
                console.log(isAuthorised);

                // Service.streamData(STAT_API, token, 'start')
            }
        });


    </script>

{% endblock javascripts %}
