<!--
This template is for v1.0 and above
-->
{% extends "base-site.html" %} {% block title %} Overview {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="dashboard-container">
    <div class="card a-dashboard">
        <div class="card-header card-header-icon card-header-primary">
            <div class="card-icon"><i class="material-icons">collections</i></div>
            <!-- Card title -->
            <h3 class="card-title">
                {{ option.title | safe }}
                <span>
                    <!-- Bookmark -->
                    {% if current_user.is_authenticated %}
                    <i class="material-icons" id="bookmark">bookmark</i>
                    {% endif %}
                </span>
            </h3>
        </div>

        <div class="card-body">
            <!-- Description -->
            <p class="card-text">{{ option.bindings.vis.description | safe }}</p>
            <!-- Chart -->
            <div id="charts"></div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>

    let _option = {{ option | tojson }};
    let visDescription = _option.bindings?.vis?.description;
    let token = '{{ session.token | safe }}';
    let userName = '{{ current_user.username | safe }}';
    let isAuthorised = {{ current_user.is_authenticated | tojson }};
    let isBookmarked = false;
    let DATA_API = {{ config['DATA_API'] | tojson }};

    $(document).ready(function () {
          //visDescription = _option.bindings?.vis?.description
          console.log('template-2.html: option = ', _option, ', visDescription = ', visDescription);

          let placeholder = $('#charts');
          layout(_option.bindings, placeholder)
    });

    //
    // Layout
    //
    async function layout(bindings, placeholder) {
        console.log('template-2.html:layout: bindings = ', bindings);

        // only one row and chart in it
        let row = document.createElement('div');
        let col = document.createElement('div');


        row.setAttribute('class', 'row');

        col.setAttribute('id', 'chart-0');
        col.setAttribute('class', 'col');
        row.append(col);
        placeholder.append(col);

        let data = await fetchData(bindings?.data);

        console.log('template-2.html:layout: no. of data streams = ', data.length);

        let args = {
            chartElement: `chart-0`,
            data: data,
            links: bindings?.links
        };
        new VisFunctionFactory(bindings?.vis?.function, args);
    }

    async function fetchData(data) {
        // console.log('template-2.html:fetchData: data = ', data);
        if (typeof data === 'string') {
            try {
                let values = await (await fetch(data?.endpoint)).json();
                return { 'description': data?.description, 'endpoint': data?.endpoint, 'values': values };
            } catch (error) {
                console.error('template-2.html:fetchData: error = ', error)
                throw (error)
            }
        } else if (Array.isArray(data)) {
            try {
                return await Promise.all(
                    data.map(async (d) => {
                        let values = await (await fetch(d?.endpoint)).json()
                        return { 'description': d?.description, 'endpoint': d?.endpoint, 'values': await values }
                      }));
            } catch (error) {
                console.error('template-2.html:fetchData: error = ', error)
                throw (error)
            }
        }

    }

    //
    // Bookmark or remove bookmark
    //
    $(document).ready(function () {
        if (!isAuthorised) {
            return;
        }

        Service.getBookmarkInfo(DATA_API, _option.id, token)
            .then(data => {
                // console.log('bookmark style ', data);
                if (data) {
                    isBookmarked = true;
                    data && $('#bookmark').css('color', 'orange');
                }
            });

        $('#bookmark').on('click', () => {
            if (!isBookmarked) {
                Service.createBookmark(DATA_API, _option.id, token)
                    .then(data => {
                        if (data) {
                            isBookmarked = !isBookmarked;
                            $('#bookmark').css('color', 'orange');
                            console.log('onClickBookmark: ', _option.id, token);
                        }
                    });
            } else {
                Service.removeBookmark(DATA_API, _option.id, token)
                    .then(data => {
                        if (data) {
                            isBookmarked = !isBookmarked;
                            $('#bookmark').css('color', 'darkgrey');
                        }
                    });
            }

        });

    });
</script>

{% endblock javascripts %}
