{% extends "base-site.html" %}

{% block title %} Search {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="dashboard-container">

    <form action="/timeseries-sim-search" method="GET" name="search">
      <div class="input-group">
        <input type="text" name="query" class="form-control" placeholder="Search..." size="100">
        <button type="submit" class="btn btn-primary btn-round btn-just-icon">
          <i class="material-icons">search</i>
          <div class="ripple-container"></div>
        </button>
      </div>
    </form>

    <div class="card">
      <div class="card-header card-header-icon card-header-primary">
      </div>

      <div class="card-body">

      </div>

    </div>
  </div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
      $(document).ready(function () {
          let data = {{ data | safe }};
          console.log('timeseries_sim_search.html: data = ', data);
      });

  </script>

{% endblock javascripts %}
