  [
  {
    "id": 1,
    "name": "top-level-overview-screen-a",
    "type": "dashboard",
    "bind": [
      { "vis_id": 1, "data_id": 1, "query_params": { "table": "cumulative_cases" }, "title": "" }
    ],
    "nrows": 1,
    "title": "Cumulative Number of Cases Tested Positive for COVID-19",
    "description": "The cumulative number of cases with positive tests for COVID-19, by board in Scotland",
    "links": {
                "regional": [3, 7, 11, 15, 19, 23, 34, 27, 38, 42, 46, 50, 54, 58, 62],
                "board": [2, 66, 67, 68, 69, 70, 73, 71, 74, 75, 76, 77, 78, 79, 80]
    }
  },
  {
    "id": 2,
    "name": "sco-regional",
    "type": "dashboard",
    "bind": [
      { "vis_id": 3, "data_id": 2, "query_params": { "table": "cumulative_cases", "region": "scotland" }, "title": "Cumulative Number of Cases"},
      { "vis_id": 2, "data_id": 2, "query_params": { "table": "icu_patients", "region": "scotland" }, "title": "ICU Patients" },
      { "vis_id": 2, "data_id": 2, "query_params": { "table": "hospital_confirmed", "region": "scotland" }, "title": "Hospital Confirmed" },
      { "vis_id": 2, "data_id": 2, "query_params": { "table": "hospital_suspected", "region": "scotland" }, "title": "Hospital Suspected" }

    ],
    "nrows": 2,
    "title": "Scotland",
    "description": "The cumulative number of cases with positive tests for COVID-19 in Scotland. The number of people in ICU with confirmed or suspected COVID-19 in Scotland. The number of people in the hospital with confirmed COVID-19 in Scotland. The number of people in hospital with suspected COVID-19 in Scotland.",
    "links": {}
  },


{% set count = namespace(value=3) %}

{% for region in regions %}

    {% if region.abbreviation != "golden" %}
        {
            "id": {{count.value }},
            "name": "{{region.abbreviation}}-cumulative",
            "type": "plot",
            "bind": [
              { "vis_id": 3, "data_id": 2, "query_params": { "table": "cumulative_cases", "region": "{{region.shortname}}" }, "title": "" }
            ],
            "nrows": 1,
            "title": "{{region.displayname}} - Cumulative Number of Cases Tested Positive for COVID-19",
            "description": "The cumulative number of cases with positive tests for COVID-19 in {{region.displayname}}.",
            "links": {}
          },
        {% set count.value = count.value + 1 %}
    {% endif %}

    {
      "id": {{count.value }},
      "name": "{{region.abbreviation}}-icu_patients",
      "type": "plot",
      "bind": [
        { "vis_id": 2, "data_id": 2, "query_params": { "table": "icu_patients", "region": "{{region.shortname}}" }, "title": "" }
      ],
      "nrows": 1,
      "title": "{{region.displayname}} - Daily Number of COVID-9 Inpatients (Confirmed or Suspected) in ICU at Midnight",
      "description": "The number of people in ICU with confirmed or suspected COVID-19 in {{region.displayname}}.",
      "links": {}
    },
    {% set count.value = count.value + 1 %}

    {
      "id": {{count.value }},
      "name": "{{region.abbreviation}}-hospconfirmed",
      "type": "plot",
      "bind": [
        { "vis_id": 2, "data_id": 2, "query_params": { "table": "hospital_confirmed", "region": "{{region.shortname}}" }, "title": "" }
      ],
      "nrows": 1,
      "title": "{{region.displayname}} - Daily Number of Confirmed COVID-9 Inpatients in Hospital at Midnight",
      "description": "The number of people in the hospital with confirmed COVID-19 in {{region.displayname}}.",
      "links": {}
    },
    {% set count.value = count.value + 1 %}

    {
      "id": {{count.value }},
      "name": "{{region.abbreviation}}-hospsuspected",
      "type": "plot",
      "bind": [
        { "vis_id": 2, "data_id": 2, "query_params": { "table": "hospital_suspected", "region": "{{region.shortname}}" }, "title": "" }
      ],
      "nrows": 1,
      "title": "{{region.displayname}} - Daily Number of Suspected COVID-9 Inpatients in Hospital at Midnight",
      "description": "The number of people in hospital with suspected COVID-19 in {{region.displayname}}.",
      "links": {}
    },
    {% set count.value = count.value + 1 %}

{% endfor %}



{% for region in regions %}
  {% if region.abbreviation != "sco" %}
      {
        "id": {{count.value}},
        "name": "{{region.abbreviation}}-regional",
        "type": "dashboard",
        "bind": [
          {% if region.abbreviation != "golden" %}{ "vis_id": 3, "data_id": 2, "query_params": { "table": "cumulative_cases", "region": "{{region.shortname}}" }, "title": "Cumulative Number of Cases"},{% endif %}
          { "vis_id": 2, "data_id": 2, "query_params": { "table": "icu_patients", "region": "{{region.shortname}}" }, "title": "ICU Patients" },
          { "vis_id": 2, "data_id": 2, "query_params": { "table": "hospital_confirmed", "region": "{{region.shortname}}" }, "title": "Hospital Confirmed" },
          { "vis_id": 2, "data_id": 2, "query_params": { "table": "hospital_suspected", "region": "{{region.shortname}}" }, "title": "Hospital Suspected" }

        ],
        "nrows": {{'1' if region.abbreviation == "golden" else '2'}},
        "title": "{{region.displayname}}",
        "description": "The cumulative number of cases with positive tests for COVID-19 in {{region.displayname}}. The number of people in ICU with confirmed or suspected COVID-19 in {{region.displayname}}. The number of people in the hospital with confirmed COVID-19 in {{region.displayname}}. The number of people in hospital with suspected COVID-19 in {{region.displayname}}.",
        "links": {}
      },
    {% set count.value = count.value + 1 %}
  {% endif %}
{% endfor %}



  {
    "id": 81,
    "name": "top-level-overview-screen-c",
    "type": "dashboard",
    "bind": [
      { "vis_id": 4, "data_id": 1, "query_params": { "table": "icu_patients" }, "title": "ICU Patients" },
      { "vis_id": 4, "data_id": 1, "query_params": { "table": "hospital_confirmed" }, "title": "Hospital Confirmed" },
      { "vis_id": 4, "data_id": 1, "query_params": { "table": "hospital_suspected" }, "title": "Hospital Suspected" }
    ],
    "nrows": 1,
    "title": "Coronavirus (COVID-19): Scotland Board-level Daily Data",
    "description": "The number of people in ICU with confirmed or suspected COVID-19 in Scotland. The number of people in the hospital with confirmed COVID-19 in Scotland. The number of people in hospital with suspected COVID-19 in Scotland.",
    "links": {
                "dashboard": [2, 66, 67, 68, 69, 70, 73, 71, 74, 75, 76, 77, 78, 79, 80, 72],
                "icu_patients": [4, 8, 12, 16, 20, 24, 35, 28, 39, 43, 47, 51, 55, 59, 63, 31],
                "hospital_confirmed": [5, 9, 13, 17, 21, 25, 36, 29, 40, 44, 48, 52, 56, 60, 64, 32],
                "hospital_suspected": [6, 10, 14, 18, 22, 26, 37, 30, 41, 45, 49, 53, 57, 61, 65, 33]
    }
  },
  {
    "id": 82,
    "name": "pearson-correlation",
    "type": "analytics",
    "bind": [
      { "vis_id": 5, "data_id": 4, "query_params": { "table": "cumulative_cases", "metrics": "pearson_correlation" }, "title": "" }
    ],
    "nrows": 1,
    "title": "Cumulative Cases - Pearson Correlation",
    "description": "The cumulative cases using Pearson Correlation",
    "links": {}
  },
    {
    "id": 83,
    "name": "mse",
    "type": "analytics",
    "bind": [
      { "vis_id": 5, "data_id": 4, "query_params": { "table": "cumulative_cases", "metrics": "mse" }, "title": "" }
    ],
    "nrows": 1,
    "title": "Cumulative Cases - MSE",
    "description": "The cumulative cases using MSE",
    "links": {}
  },
    {
    "id": 84,
    "name": "f-test",
    "type": "analytics",
    "bind": [
      { "vis_id": 5, "data_id": 4, "query_params": { "table": "cumulative_cases", "metrics": "f_test" }, "title": "" }
    ],
    "nrows": 1,
    "title": "Cumulative Cases - F-Test",
    "description": "The cumulative cases using F-test",
    "links": {}
  },
  {
    "id": 85,
    "name": "dynamic-top-level-overview-screen-a",
    "type": "dynamic",
    "bind": [
      { "vis_id": 1, "data_id": 5, "query_params": { "table": "cumulative_cases" }, "title": "" }
    ],
    "nrows": 1,
    "title": "Dynamic - Cumulative Number of Cases Tested Positive for COVID-19",
    "description": "The cumulative number of cases with positive tests for COVID-19, by board in Scotland",
    "links": {
                "regional": [7, 11, 15, 19, 23, 34, 27, 38, 42, 46, 50, 54, 58, 62, 3],
                "board": [66, 67, 68, 69, 70, 73, 71, 74, 75, 76, 77, 78, 79, 80, 2]
    }
  },
  {
    "id": 86,
    "name": "dynamic-sco-regional",
    "type": "dynamic",
    "bind": [
      { "vis_id": 3, "data_id": 6, "query_params": { "table": "cumulative_cases", "region": "scotland" }, "title": "Cumulative Number of Cases"},
      { "vis_id": 2, "data_id": 6, "query_params": { "table": "icu_patients", "region": "scotland" }, "title": "ICU Patients" },
      { "vis_id": 2, "data_id": 6, "query_params": { "table": "hospital_confirmed", "region": "scotland" }, "title": "Hospital Confirmed" },
      { "vis_id": 2, "data_id": 6, "query_params": { "table": "hospital_suspected", "region": "scotland" }, "title": "Hospital Suspected" }
    ],
    "nrows": 2,
    "title": "Dynamic - Scotland - Overview",
    "description": "The cumulative number of cases with positive tests for COVID-19 in Scotland. The number of people in ICU with confirmed or suspected COVID-19 in Scotland. The number of people in the hospital with confirmed COVID-19 in Scotland. The number of people in hospital with suspected COVID-19 in Scotland.",
    "links": {}
  },
  {
    "id": 87,
    "name": "weekly-death-situation-stacked-bar-chart",
    "type": "analytics",
    "bind": [
      { "vis_id": 6, "data_id": 3, "query_params": { "table": "covid_deaths", "group": "location" }, "title": "Weekly deaths by COVID-19 in each situation setting (bar chart)" }
    ],
    "nrows": 1,
    "title": "Weekly deaths by COVID-19 in each situation setting (bar chart)",
    "description": "Stacked bar chart with bar height corresponding to the number of deaths and coloured by situation.",
    "links": {}
  },
  {
    "id": 88,
    "name": "weekly-death-situation-stacked-area-chart",
    "type": "analytics",
    "bind": [
      { "vis_id": 7, "data_id": 3, "query_params": { "table": "covid_deaths", "group": "location" }, "title": "Weekly deaths by COVID-19 in each situation setting (area chart)" }
    ],
    "nrows": 1,
    "title": "Weekly deaths by COVID-19 in each situation setting (area chart)",
    "description": "Stacked area chart with area corresponding to the number of deaths and coloured by situation.",
    "links": {}
  },
  {
    "id": 89,
    "name": "weekly-death-agegroup-gender-stacked-bar-chart",
    "type": "analytics",
    "bind": [
      { "vis_id": 8, "data_id": 3, "query_params": { "table": "covid_deaths", "group": "gender_age" }, "title": "Weekly deaths by COVID-19 in each age group and gender (bar chart)" }
    ],
    "nrows": 1,
    "title": "Weekly deaths by COVID-19 in each age group and gender (bar chart)",
    "description": "Stacked bar chart with bar height corresponding to the number of deaths, separated by gender and coloured by age group.",
    "links": {}
  },
  {
    "id": 90,
    "name": "weekly-death-agegroup-gender-stacked-area-chart",
    "type": "analytics",
    "bind": [
      { "vis_id": 9, "data_id": 3, "query_params": { "table": "covid_deaths", "group": "gender_age" }, "title": "Weekly deaths by COVID-19 in each age group and gender (area chart)" }
    ],
    "nrows": 1,
    "title": "Weekly deaths by COVID-19 in each age group and gender (area chart)",
    "description": "Stacked area chart with area corresponding to the number of deaths, separated by gender and coloured by age group.",
    "links": {}
  },
  {
    "id": 91,
    "name": "weekly-death-cause-comparison",
    "type": "analytics",
    "bind": [
      { "vis_id": 10, "data_id": 3, "query_params": { "table": "covid_deaths", "group": "type" }, "title": "Weekly comparison of causes of deaths" }
    ],
    "nrows": 1,
    "title": "Weekly comparison of causes of deaths.",
    "description": "Comparing deaths caused by COVID-19 and other causes together with average deaths in the past 5 years in a weekly basis.",
    "links": {}
  },
  {
    "id": 92,
    "name": "cumulative-cases-correlation-simple-matrix",
    "type": "analytics",
    "bind": [
      { "vis_id": 11, "data_id": 4, "query_params": { "table": "cumulative_cases", "metrics": "pearson_correlation" }, "title": "Correlation of cumulative cases between health boards (simple matrix)" }
    ],
    "nrows": 1,
    "title": "Correlation of cumulative cases between health boards (simple matrix)",
    "description": "Using a matrix to show correlation of cumulative cases between different health boards.",
    "links": {}
  },
  {
    "id": 93,
    "name": "cumulative-cases-correlation-complex-matrix",
    "type": "analytics",
    "bind": [
      { "vis_id": 12,
        "data": [ { "data_id": 4, "query_params": { "table": "cumulative_cases", "metrics": "pearson_correlation" } },
                  { "data_id": 1, "query_params": { "table": "cumulative_cases" } }],
        "title": "Correlation of cumulative cases between health boards (complex matrix)" }
    ],
    "nrows": 1,
    "title": "Correlation of cumulative cases between health boards (complex matrix)",
    "description": "Using a matrix to show correlation of cumulative cases between different health boards together with additional information.",
    "links": {}
  },
  {
    "id": 99,
    "name": "scotland",
    "type": "dashboard",
    "bind": [
      { "vis_id": 13,
        "data": [ { "data_id": 1, "query_params": { "table": "cumulative_cases" } },
                  { "data_id": 1, "query_params": { "table": "hospital_suspected" } },
                  { "data_id": 1, "query_params": { "table": "hospital_confirmed" } },
                  { "data_id": 1, "query_params": { "table": "icu_patients" } }],
        "title": "" },
      { "vis_id": 1, "data_id": 1, "query_params": { "table": "cumulative_cases" }, "title": "The cumulative number of cases with positive tests for COVID-19, by board in Scotland" }
    ],
    "nrows": 1,
    "title": "Scotland",
    "description": "",
    "links": {
                "dashboard": [2, 66, 67, 68, 69, 70, 73, 71, 74, 75, 76, 77, 78, 79, 80, 72],
                "cumulative_cases": [3, 7, 11, 15, 19, 23, 34, 27, 38, 42, 46, 50, 54, 58, 62],
                "icu_patients": [4, 8, 12, 16, 20, 24, 35, 28, 39, 43, 47, 51, 55, 59, 63, 31],
                "hospital_confirmed": [5, 9, 13, 17, 21, 25, 36, 29, 40, 44, 48, 52, 56, 60, 64, 32],
                "hospital_suspected": [6, 10, 14, 18, 22, 26, 37, 30, 41, 45, 49, 53, 57, 61, 65, 33],
                "regional": [3, 7, 11, 15, 19, 23, 34, 27, 38, 42, 46, 50, 54, 58, 62],
                "board": [2, 66, 67, 68, 69, 70, 73, 71, 74, 75, 76, 77, 78, 79, 80]
    }
  }
]