<div class="sidebar" data-color="purple" data-background-color="DarkGray">
  <div class="logo">
    <a href="" class="simple-text logo-mini">
      <img src="/static/assets/img/Favicon64x64.png" alt=""/>
      <br/>
      RAMP VIS 0.4
    </a>
  </div>


  <div class="sidebar-wrapper">

    <ul class="nav">

     <li class="nav-item">
            {% if current_user.is_authenticated %}
              <a class="nav-link" href={{ url_for('base_blueprint.logout') }}>
                <span class="sidebar-mini"> <i class="material-icons">logout</i> </span>
                <span class="sidebar-normal">Logout</span>
              </a>
            {% else %}
              <a class="nav-link" href={{ url_for('base_blueprint.login') }}>
                <span class="sidebar-mini"> <i class="material-icons">login</i></span>
                <span class="sidebar-normal">Login</span>
              </a>
            {% endif %}

          </li>

      <li class="nav-item">
        <a class="nav-link" href="/portal">
          <i class="material-icons">view_comfy</i>
          <p><b>My Portal</b></p>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/search">
          <i class="material-icons">search</i>
          <p><b>Search</b></p>
        </a>
      </li>

      <!-- Side bar items -->

      <li class="nav-item " style="margin-top: 50px">
        <a class="nav-link" href="/dashboards">
          <i class="material-icons">dashboard</i>
          <p><b>Dashboards</b></p>
        </a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" href="/plots">
          <i class="material-icons">insert_chart</i>
          <p><b>Plots</b></p>
        </a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" href="/analytics">
          <i class="material-icons">blur_on</i>
          <p><b>Analytics</b></p>
        </a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" href="/dynamic">
          <i class="material-icons">dynamic_feed</i>
          <p><b>Dynamic</b></p>
        </a>
      </li>

      <li class="nav-item " style="margin-top: 50px">
        <a class="nav-link" href="/page-blank">
          <i class="material-icons">navigate_next</i>
          <p>England</p>
        </a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" href="/page-blank">
          <i class="material-icons">navigate_next</i>
          <p>N. Ireland</p>
        </a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" href="/page-blank">
          <i class="material-icons">navigate_next</i>
          <p><b>Scotland</b></p>
        </a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" href="/page-blank">
          <i class="material-icons">navigate_next</i>
          <p>Wales</p>
        </a>
      </li>

      <li class="nav-item" style="margin-top: 50px">
        <a class="nav-link" href="/all-pages">
          <i class="material-icons">table_view</i>
          <p>All Pages </p>
        </a>
      </li>

      {% if current_user.is_authenticated %}
        <li class="nav-item ">
          <a class="nav-link" href="/settings">
            <i class="material-icons">settings</i>
            <p>Settings</p>
          </a>
        </li>
      {% endif %}

      <!--
      <li class="nav-item ">
        <a class="nav-link" href="/page-blank">
          <i class="material-icons">code</i>
          <p>Blank Page</p>
        </a>
      </li>
      -->

    </ul>

  </div>

</div>


<script>
    $(document).ready(function () {

        $("#{{request.endpoint}}").addClass("active");
    })
</script>