    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-2.jpg">
      <div class="logo">
        <a href="" class="simple-text logo-normal">
          RAMP VIS
        </a>
      </div>


      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" href="/">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>

          <!-- Side bar items -->

          <li class="nav-item ">
            <a class="nav-link" href="/page-blank">
              <i class="material-icons">code</i>
              <p>Blank Page</p>
            </a>
          </li>

        </ul>

      </div>


    </div>
