.dashboard-container .latest-numbers {
    margin-left: 15px;
    width: 300px;
    border-collapse:separate; 
    border-spacing: 5px;
}

.dashboard-container .latest-numbers .number {
    text-align: right;
    padding-right: 3px;
}

.dashboard-container .latest-numbers th div {
    color: gray;
}

.dashboard-container .latest-numbers td:nth-child(1),
.dashboard-container .latest-numbers th:not(:first-child) {
    background-color: #dae5f1;
    text-align: center;
}

.dashboard-container .latest-numbers td:nth-child(2) {
    background-color: #ffffcc;
}

.dashboard-container .latest-numbers td:nth-child(3) {
    background-color: #fde9d8;
}

.dashboard-container .latest-numbers td:nth-child(4) {
    background-color: #fbd4b4;
}

.dashboard-container .latest-numbers td:nth-child(5) {
    background-color: #fabf8e;
}

.clickable {
    cursor: pointer;
}

#main-dashboard {
    max-width: 1500px;
    min-width: 1500px;
}

#left-hand-side {
    max-width: 370px;
    min-width: 370px;
}